
<div class="container">
	<h1>My Home</h1>
	<div class="OPD">
		<table class="table">
			<thead>
				<tr>
					<th>OPD</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
	
			<tbody>
				<!--<tr ng-repeat = "doctor in OPDdoctorsList">-->
				<tr>
					<!--<td>{{doctor.name}}</td>-->
					<td><p>Dr. Wasantha</P></td>
					<td>Dr. Jayasooriya</td>
					<td>Dr. Naditha</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="Clinic">
		<table class="table">
			<thead>
				<tr>
					<th>Clinic</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
	
			<tbody>
				<!--<tr ng-repeat = "doctor in CLINICdoctorList">-->
				<tr>
					<!--<td>{{doctor.name}}</td>-->
					<td>Dr. Madushanki</td>
					<td>Dr. Dias</td>
					<td>Dr. Shashi</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>