<div class="skin-blue">

<section class="content">

    <h1>
        <small> Patient Information</small>
    </h1>
</section>
</br>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-6">

            <div class="container">

                <div class="row">
                    <div class="col-lg-10" style="width:1000px; margin-right:5px">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="col-sm-10 ">
                                        <img class="img-rounded img-responsive" src="" />

                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">

                                    <h4><b>{{patient.name}} </b></h4>

                                    <table>
                                        <tr>
                                            <td style="padding-right: 10px"><strong>HIN</strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                {{patient.HIN}}</td>
                                        </tr>

                                        <tr>
                                            <td style="width: 80px"><strong>Gender</strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                {{patient.gender}}</td>

                                        </tr>

                                        <tr>
                                            <td style="width: 80px"><strong>NIC</strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                {{patient.NIC}}</td>

                                        </tr>

                                        <tr>
                                            <td style="width: 80px"><strong>Civil Status</strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                {{patient.civilStatus}}</td>

                                        </tr>
                                        <tr>
                                            <td style="width: 50px"><strong>Date of Birth</strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                {{patient.DOB}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Age</strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                ~28Yrs -4Mths -27Dys</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Phone </strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                {{patient.phone}}</td>

                                        </tr>
                                        <tr>
                                            <td><strong>Address </strong>
                                            </td>
                                            <td style="padding-left: 10px">
                                                {{patient.address}}</td>
                                        </tr>
                                    </table>
                                    <!-- Split button -->

                                </div>
                                <div class="col-md-4">

                                    <!--<div class="btn-group pull-right">-->
                                        <!--<a href="http://his.sliit.lk/OPD/index.php/patient_c/edit/51" class="btn-xs btn-primary pull-right"> <i class="fa fa-edit"></i> Edit-->
                                        <!--</a>-->
                                        <!--<br>-->

                                    <!--</div>-->
                                    <h4>
                                        <br>


                                    </h4>
                                    <table>
                                        <tr style="padding-top: 40px">
                                            <td><strong>Blood Group </strong>
                                            </td>
                                            <td style="padding-left: 25px ">
                                                <font color="red">
                                                    A+
                                                </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>BMI </strong>
                                            </td>
                                            <td style="padding-left: 25px ">
                                                <font color="red">
                                                    11.834319526627</font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Resent Allergies </strong>
                                            </td>
                                            <td style="padding-left: 25px ">
                                                pplp,
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Complaint </strong>
                                            </td>
                                            <td style="padding-left: 25px "><font color="red">
                                                lol</font>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- ./col -->
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------>

<div class="row">
    <div class="col-md-12">
        <!--Ending point of panel for prescription-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Prescribe Drugs</h3>
                <label id="presStatus"></label>
            </div>
            <div class="panel-div">
                <div class="form-horizontal well" style="alignment-adjust: auto">
                    <div class="form-horizontal" style="margin-bottom: 20px">
                        <input type="text" id="pid" value="51" hidden>
                        <table class="">
                            <thead>
                            <th style="padding-left: 70px">Drug</th>
                            <th style="padding-left: 40px">Dosage</th>
                            <th style="padding-left: 50px">Frequency</th>
                            <th style="padding-left: 70px">Period</th>
                            </thead>
                            </table>

                                <!-- Button trigger modal -->
                                <!--<button type="button" class="btn btn-warning" style="margin-left: -5px; width :137px" data-toggle="modal" data-target="#myModal">-->
                                    <!--Refer BNF-->
                                <!--</button>-->
                                <!--Starting point of index-->

                    </div>
                </div>
            </div>
            <!--Ending of modal-->
        </div>
    </div>
    <form name="myform">
        <input type="text" id="inputQty" name="inputQty" value="1" hidden>

        </th>
        </thead>
        <tdiv>
        <td>
            <td>
                <select style="width:200px;height: 180px" required id="inputDrug" name="inputDrug" class="form-control" multiple="multiple"  ng-model="drug.inputDrug">
                    <option value="Ampicillin 250mg">Ampicillin 250m</option>
                    <option value="Afrin">Afrin</option>
                    <option value="Axitretin 50mg">Axitretin 50mg</option>
                    <option value="Captopril">Captopril</option>
                    <option value="Codeine Phosphate injection">Codeine Phosphate injection</option>
                    <option value="Enalapril">Enalapril</option>
                    <option value="Metformin 50mg">Metformin 50mg</option>
                    <option value="Methyldopa">Methyldopa</option>
                    <option value="panadole">panadole</option>
                    <option value="Pindole Tablet 5mg">Pindole Tablet 5mg</option>
                    <option value=" Nifedipine Slow"> Nifedipine Slow</option>
                </select>
            </td>

            <td style="padding-left: 10px">
                <select class="form-control" style="height: 180px;width:100px" required id="inputDosage" name="inputDosage" multiple="multiple" ng-model="drug.inputDosage">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3s</option>
                    <option value=" 5">5</option>
                    <option value="1/2">1/2</option>
                    <option value="1/4">1/4</option>

                </select>
                <!--<input id="custom1" readonly="readonly" type="text" value="Custom" />-->
            </td>

            <td style="padding-left: 10px">
                <select class="form-control" style="height: 180px;width:150px"  id="inputFrequency" name="frequency" multiple="multiple"  ng-model="drug.inputFrequency">
                    <option value="o.d.">o.d.</option>
                    <option value="bid">bid</option>
                    <option value="t.d.s.">t.d.s.s</option>
                    <option value="5 Times a Day">5 Times a Day</option>
                    <option value="8H">8H</option>
                    <option value="6H">6H</option>
                    <option value="mane">mane</option>
                    <option value="89">89</option>
                    <option value="noct.">noct.</option>

                </select>
                <!--<input id="custom2"  readonly="readonly"  type="text" value="Custom" />-->
            </td>

            <td style="padding-left: 10px">
                <select id="period" style="height: 180px;width:150px" required name="period" class="form-control" multiple="multiple" ng-model="drug.inputPeriod">
                    <option value="For 1 day">For 1 day</option>
                    <option value="For 2 days">For 2 days</option>
                    <option value="For 4 days">For 4 days</option>
                    <option value="For 5 days">For 5 days</option>
                    <option value="For 1 week">For 1 week</option>
                    <option value="For 2 weeks">For 2 weeks</option>
                    <option value="For 3 weeks">For 3 weeks</option>
                    <option value="For 1 month">For 1 month</option>
                    <option value="For 3 months">For 3 months</option>
                    <!--<option value="Custom" id="customentry3">Custom</option>-->
                </select>
                <!--<input id="custom3"  readonly="readonly"  type="text" value="Custom" />-->
            </td>
            <td style="padding-left:10px; padding-top :150px; width:135px">
                <a href="/addDrug" ><input class="glyphicon glyphicon-plus btn btn-primary" type="submit" ng-click="addDrug()" value="+Add"> </a>
            </td>


        </tr>
        </tdiv>
        </table>
        <!-- Modal for BNF button click -->
    </form>
</div>
</div>
</form>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter the Quantity for this drug</h4>
            </div>
            <div class="modal-div">
                Quantity of drugs to prescribe:
                <input class="form-control" style="width:200px" type="number" id="inputQty2" pattern="[0-9]+([\.|,][0-9]+)?" step="1" min="1" max="200" value="1" name="inputQty2" placeholder="">
            </div>

        </div>

    </div>
</div>


<div class="span10">

    <div class="form-actions" style="margin-top:20px;">
        </form>
        <form >
            <button style="margin-left: 20px;margin-bottom: 30px;margin-top: 10px" type="submit" style="margin-top: 10px" class="btn btn-primary">Discard</button>
        </form>
    </div>
    </section>
</div>