
<div class="container">
	<h1>My OPD</h1>
	
	<!--<label>
		Search : <input id="search" type ="text" class="form-control" ng-model="myOPD.HIN" ng-keyup="search(myOPD.HIN)">
	</label>&nbsp;&nbsp;-->
	<!--<button class = "btn btn-primary" ng-click="search(patient.HIN)">Search</button>&nbsp;&nbsp;-->
	<!--<button class="btn btn-primary" ng-click="deselect()">Clear</button></td>-->
	
	<table class="table">
		<thead>
			<tr>
				<th>HIN</th>
				<th>Name</th>
				<th>Visit Date</th>
				<th>Complaint</th>

			</tr>
		</thead>
		<tbody>

			<td><input class="form-control" ng-model="patient.HIN" ng-keyup="search(patient.HIN)"></td>

			<tr ng-repeat="patient in patientList">
				<td>{{patient.HIN}}</td>
				<td>{{patient.PatientName}}</td>
				<td>{{patient.date}}</td>
				<td>{{patient.injury}}</td>

				<td><button class = "btn btn-primary" ng-click="view(patient._id)">Info</button></td>
				
			</tr>
		</tbody>
	</table>
</div>		
