
<section class="content">
<div class = "overview">
    <div class = "row" >
        <div class="col-md-12" style = "margin-top:10px ; margin-left:-20px">
        <br/>
            <div class="panel panel-info" style="margin-left: 40px; ">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6" style="width:500px ; margin-right:5px">
                                        <div class="well well-sm">

                                            <div class="row">

                                                <div class="col-md-6"  ng-repeat = "p in patientlist2">
                                                    <h4><b>{{p.name}}</p></b></h4>
                                                    <table>
                                                        <tr>
                                                            <td style="padding-right: 40px"><strong>HIN</strong></td>
                                                            <td style="padding-left: 10px">:</td>
                                                            <td style="padding-left: 10px">{{p.HIN}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Gender</strong></td>
                                                            <td style="padding-left: 10px">:</td>
                                                            <td style="padding-left: 10px">{{p.gender}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90px"><strong>Civil Status</strong></td>
                                                            <td style="padding-left: 10px">:</td>
                                                            <td style="padding-left: 10px">{{p.civilStatus}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 50px"><strong>Date of Birth</strong></td>
                                                            <td style="padding-left: 10px">:</td>
                                                            <td style="padding-left: 10px">{{p.DOB}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Phone </strong></td>
                                                            <td style="padding-left: 10px">:</td>
                                                            <td style="padding-left: 10px">{{p.phone}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Address </strong></td>
                                                            <td style="padding-left: 10px">:</td>
                                                            <td style="padding-left: 10px">{{p.address}}</td>
                                                        </tr>
                                                        <tr style="padding-top: 40px">
                                                            <td><strong>NIC</strong></td>
                                                            <td style="padding-left: 10px">:</td>
                                                            <td style="padding-left: 25px ">
                                                                <font color="red">
                                                                    <font color="red">{{p.NIC}}</font>
                                                                </font>
                                                            </td>
                                                        </tr>
                                                        <!--<tr>-->
                                                            <!--<td></td>-->
                                                            <!--<td></td>-->
                                                            <!--<td><strong><button>Add To Queue</button></strong></td>-->

                                                        <!--</tr>-->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <strong><a href="queuePatients"><button>Doctor Queue</button></a></strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" >
                            <div class="box box-solid box-default collapsed-box">
                                <div class="box-body" align="right">
                                    <table class="table table-bordered table-striped table-hover" id="tabletestp"><br>
                                    <tbody>
                                    <tr>
                                        <td><button>ADD ALLERGY</button></td>
                                        <td><a href="prescribeDrugs"><button>PRESCRIBE DRUGS</button></a></td>
                                        <td><a href="createVisit"><button>CREATE VISIT</button></a></td>
                                     </tr>
                                    <tr>
                                        <td><a href="addQuestionnaires"><button>ADD QUSTIONS</button></a></td>
                                        <td><a href="viewQuestionnaires"><button>VIEW QUSTIONS</button></a></td>
                                        <td><a href="addRemarks"><button>ADD REMARKS</button></a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button>LAB ORDERS</button></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
